<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Producción</title>
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body>
    <header-bar></header-bar>
    <nav-bar></nav-bar>

    <project-form></project-form>
    <machine-list api-endpoint="http://localhost:8000/maquinas"></machine-list>
    <machine-listproy api-endpoint="http://localhost:8000/proyectos"></machine-listproy>
    
    <footer-bar></footer-bar>
    <script src="nav-bar.js"></script>

    <script src="header.js"></script>
    <script src="formulario_proyecto.js"></script>

    <script src="inicio.js"></script>

    <script src="footer.js"></script>

</body>
</html>
